<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="banzoprojects.com.pet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".usuario.gui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuario.gui.RegistroActivity"
            android:label="@string/cadastro" />
        <activity
            android:name=".usuario.gui.MainActivity"
            android:label="@string/bem_vindo" />
        <activity android:name=".animal.gui.CadastrarAnimalActivity" />
        <activity android:name=".animal.gui.OpcoesAnimalActivity" />
        <activity android:name=".vacina.gui.CadastroVacina"></activity>
    </application>

</manifest>